<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <div class="row">
        <div class="col-lg-11">
          <h3 class="mb-0">Current Active API Connections</h3>
        </div>
        <div class="col-lg-1" style="text-align:right;cursor:pointer;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <svg class="bi bi-chevron-down" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"> 
            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z" clip-rule="evenodd"/>
          </svg>
        </div>
      </div>
    </div>

    <div id="collapseOne" class="collapse p-2" aria-labelledby="headingOne" data-parent="#accordionExample">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
            Add New API
          </a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">
            Recent Updates
          </a>
          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">
            Settings
          </a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          
          <div class="card-body">
            <div class="my-3 p-3 bg-white rounded shadow-sm">
              <h6 class="border-bottom border-gray pb-2 mb-0">API Connection Details</h6>
              <br/>
              <form #addNewApi="ngForm" (ngSubmit)="onSubmit(addNewApi)">
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="apiConnectionName">Name</label>
                    <input type="text" class="form-control" id="api_connection.name" name="api_connection_name" required [(ngModel)]="api_connection.name">
                  </div>
                  <div class="form-group col-md-12">
                    <label for="apiConnectionDescription">Description</label>
                    <input type="text" class="form-control" id="api_connection.description" name="api_connection_description" required [(ngModel)]="api_connection.description">
                  </div>
                  <div class="form-group col-md-12">
                    <label for="apiConnectionUrl">URL</label>
                    <input type="text" class="form-control" id="api_connection.url" name="api_connection_url" required [(ngModel)]="api_connection.url">
                  </div>
                </div>
                <small class="d-block text-right mt-3">
                  <button class="btn btn-sm btn-success" type="submit">Save</button>
                  <div class="divider"></div>
                  <button class="btn btn-sm btn-danger" >Discard</button>
                </small>
              </form>
            </div>
          </div>

        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

          <div class="card-body">
            <div class="my-3 p-3 bg-white rounded shadow-sm">
              <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>
              <div class="media text-muted pt-3">
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                  <strong class="d-block text-gray-dark">Server: [servername goes here]</strong>
                  <strong>Update: </strong>Donec id elit non mi porta gravida at eget metus. Fusce dapibus
                </p>
              </div>

              <div class="media text-muted pt-3">
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                  <strong class="d-block text-gray-dark">Server: [servername goes here]</strong>
                  <strong>Update: </strong>Donec id elit non mi porta gravida at eget metus. Fusce dapibus
                </p>
              </div>

              <div class="media text-muted pt-3">
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                  <strong class="d-block text-gray-dark">Server: [servername goes here]</strong>
                  <strong>Update: </strong>Donec id elit non mi porta gravida at eget metus. Fusce dapibus
                </p>
              </div>

              <small class="d-block text-right mt-3">
                <a href="#" class="btn btn-sm btn-primary">All updates</a>
              </small>
            </div>
          </div>

        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
          <div class="my-3 p-3 bg-white rounded shadow-sm">
            Coming soon!
          </div>
        </div>
      </div>


      
    </div>
  </div>
</div>

<br/>

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th style="width:10%;">Name</th>
        <th style="width:25%;">URL</th>
        <th style="width:2%;">Active</th>
        <th style="width:2%;">Status</th>
        <th style="width:2%;">Response</th>
        <th style="width:2%;" colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of rows">
        <td class="data-cols" *ngFor="let col of columns" title="{{ row[col] }}">{{ truncate(row[col], 70) }}</td>
        <td class="data-cols">{{ row['active'] ? 'Active' : 'Inactive' }}</td>
        <td>
          <div class="alert alert-{{ get_status(row['status']) }} status-alert" role="alert">
            <span class="alert-msg">
              <div *ngIf="get_status(row['status']) == 'success';then checkmark"></div>
              <div *ngIf="get_status(row['status']) == 'warning';then questionable"></div>
              <div *ngIf="get_status(row['status']) == 'danger';then times"></div>

              <ng-template #checkmark>
                <svg class="bi bi-check-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3-3a.5.5 0 11.708-.708L8 9.293l6.646-6.647a.5.5 0 01.708 0z" clip-rule="evenodd"/>
                  <path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1013.5 8a.5.5 0 011 0 6.5 6.5 0 11-3.25-5.63.5.5 0 11-.5.865A5.472 5.472 0 008 2.5z" clip-rule="evenodd"/>
                </svg>  
              </ng-template>

              <ng-template #questionable>
                <svg class="bi bi-exclamation-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z" clip-rule="evenodd"/>
                  <path d="M7.002 11a1 1 0 112 0 1 1 0 01-2 0zM7.1 4.995a.905.905 0 111.8 0l-.35 3.507a.552.552 0 01-1.1 0L7.1 4.995z"/>
                </svg>
              </ng-template>

              <ng-template #times>
                <svg class="bi bi-dash-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z" clip-rule="evenodd"/>
                  <path fill-rule="evenodd" d="M3.5 8a.5.5 0 01.5-.5h8a.5.5 0 010 1H4a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
                </svg>
              </ng-template>
              
              {{ get_status_label(row['status']) }}
            </span>
          </div>
        </td>
        <td class="data-cols">{{ get_reason(row['status']) }}</td>
        <td>
          <a class="btn btn-primary" style="border-radius: 25px;color:white;">
            <svg class="bi bi-gear-wide-connected icon" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M9.928 1.723c-.243-.97-1.62-.97-1.863 0l-.072.286a.96.96 0 01-1.622.435l-.204-.212c-.695-.718-1.889-.03-1.614.932l.08.283a.96.96 0 01-1.186 1.187l-.283-.081c-.961-.275-1.65.919-.932 1.614l.212.204a.96.96 0 01-.435 1.622l-.286.072c-.97.242-.97 1.62 0 1.863l.286.071a.96.96 0 01.435 1.622l-.212.205c-.718.695-.03 1.888.932 1.613l.283-.08a.96.96 0 011.187 1.187l-.081.283c-.275.96.919 1.65 1.614.931l.204-.211a.96.96 0 011.622.434l.072.286c.242.97 1.62.97 1.863 0l.071-.286a.96.96 0 011.622-.434l.205.212c.695.718 1.888.029 1.613-.932l-.08-.283a.96.96 0 011.187-1.188l.283.081c.96.275 1.65-.918.931-1.613l-.211-.205A.96.96 0 0115.983 10l.286-.071c.97-.243.97-1.62 0-1.863l-.286-.072a.96.96 0 01-.434-1.622l.212-.204c.718-.695.029-1.889-.932-1.614l-.283.08a.96.96 0 01-1.188-1.186l.081-.283c.275-.961-.918-1.65-1.613-.932l-.205.212A.96.96 0 0110 2.009l-.071-.286zm-.932 12.27a4.998 4.998 0 100-9.994 4.998 4.998 0 000 9.995z" clip-rule="evenodd"/>
              <path fill-rule="evenodd" d="M8.372 8.996L5.598 5.298l.8-.6 2.848 3.798h4.748v1H9.246l-2.849 3.798-.8-.6 2.775-3.698z" clip-rule="evenodd"/>
            </svg>
          </a>
        </td>
        <td>
          <a class="btn btn-danger" style="border-radius: 25px;color:white;" (click)="delete(row['id'])">
            <svg class="bi bi-trash icon" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
              <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"/>
            </svg>
          </a>
        </td>
      </tr>
    </tbody>
  </table>  
</div>
